@{
    ViewData["Title"] = "Инструкция";
}
<h1>@ViewData["Title"]</h1>

<p>Откройте это приложение в трех вкладках вашего браузера. В каждой из них укажите адрес вашего сервера сообщений SimpleMessenger, нажмите Connect - получите список пользователей.</p>
<ol>
<li>Выберите пользователя User_1 (или любого другого по вашему желанию), введите это имя пользователя в строку ввода имени пользователя, нажмите Login. Используйте Флудилку, чтобы организовать генератор сообщений.</li>
<li>Выберите пользователя из Вкладки 1, или того пользователя, которому вы отправляете сообщения на Вкладке 1.</li>
<li>Выберите пользователя из Вкладки 1, или того пользователя, которому вы отправляете сообщения на Вкладке 1. В разделе &quot;Сообщения за период&quot; укажите период 10, 0. Нажмите &quot;Get History&quot;.</li>
</ol>